<div class="container" ng-init="init()">
	<h1>List</h1>

	<table class="table table-hover">
 		<thead>
			<td>Product</td>
			<td>Cantity</td>
			<td>Comment</td>
			<td>Action</td>
		</thead>
		<tbody>
			<tr>
				<td ng-click="createEmptyRow()">Add product</td>
			</tr>
			<tr ng-if="emptyRow">
				<td>
					<input type="text" ng-model="emptyRow.name">
				</td>
				<td>
					<input type="text" ng-model="emptyRow.quantity">
				</td>
				<td>
					<input type="text" ng-model="emptyRow.comment.text">
				</td>
				<td data ng-click="removeRow($index)">+</td>
			</tr>
			<tr id="index" ng-repeat="item in list.products">
				<td ng-bind="item.name">{{$index}}</td>
				<td ng-bind="item.quantity"></td>
				<td ng-bind="item.comment.text"></td>
				<td data-ng-click="removeRow($index)">+</td>
			</tr>
		</tbody>
	</table>

	<button type="submit" ng-click="addProduct()" class="btn btn-primary btn-lg">Save</button>
	<button id="cancelButton" type="submit" ng-if="cancelRow" ng-click="cancel()" class="btn btn-primary btn-lg">Cancel</button>

</div>