<div>
  <button type="submit" ng-click="back()" class="btn btn-primary btn-sm">Back</button>
</div>
<div class="container" ng-controller="createListCtrl" ng-init="init()">
	<h1>Create List ! </h1>

	<form>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" placeholder="Name" ng-model="listItems.title">
		</div>
		
		<div class="form-group">
    		<label for="event">Event</label>
    		<input type="text" class="form-control" placeholder="Event Category" ng-model="listItems.event">
  		</div>

  		<div class="form-group">
    		<label for="date">Date</label>
    		<datepicker date-min-limit="{{minDate}}" date-format="MMMM dd, yyyy">
          <input ng-model="listItems.eventDate" type="text"/>
        </datepicker>
 		</div>

 		<div class="form-group">
    		<label for="deadline">Deadline</label>
        <datepicker date-min-limit="{{minDate}}" date-format="MMMM dd, yyyy">
          <input ng-model="listItems.deadline" type="text"/>
        </datepicker>
  		</div>
      
      
  		<div class="select-users">
        <input type="text" ng-model="findUser" ng-change="filterUsers()">
        <ul class="found-users" ng-show="showList == true">
          <li ng-repeat="n in userList | filter:filterInvitedUsers" ng-click="inviteUser(n)">{{ n.name }}</li>
        </ul>

        <div class="invited-users">
          <div class="one-user" ng-repeat="m in onlyUsers">{{ m.name }}<span class="delete-invited-user" ng-click="uninviteUser($index)"> x</span></div>
        </div>
  		</div>

      <br>
 
		<button ng-click="saveList()" type="submit" class="btn btn-primary btn-lg">Create</button>

  	</form>
</div>
  