<div class="dash" ng-hidden="visibility()">
	<button type="button" class="btn btn-primary btn-sm btn-responsive"
	style="float:right;" ng-click="logout()">Log out</button>
	<p> You logged in, now what? </p>
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-primary btn-sm btn-responsive" ng-click="redirectTo('/shoppinglists')">Shopping List</button>
		<button type="button" class="btn btn-primary btn-sm btn-responsive" ng-click="redirectTo('/users')">Users and Groups</button>
<div>


