<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="">
      </a>
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-sm btn-responsive"
	style="float:right;" ng-click="logout()">Log out</button>
	<button type="submit" ng-click="back()" class="btn btn-primary btn-sm">Back</button>
</nav>

<div class="shoppinglist-container" ng-controller="shoppinglistCtrl">
	<div class="filters">
	<a type="button" align='center' class="btn btn-primary" ng-click="redirectTo('/list')">Create new list</a>
		<div class="btn-group">
		  <button type="button" class="btn btn-primary">Category</button>
		  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu">
		  	<li><a href="#">All</a></li>
		  	<li role="separator" class="divider"></li>
		    <li><a href="#">Cat. 1</a></li>
		    <li><a href="#">Cat. 2</a></li>
		    <li><a href="#">Cat. 3</a></li>
		  </ul>
		</div>
		<h1 align = 'center'>Next Events</h1>
		<table align = "center" class="table table-hover" style="width:50%;">
			<thead><td>Name</td><td>Deadline</td></thead>
			<tbody>				
			<tr ng-repeat = "list in nextEvents">
				<td ng-click="editList(list)" ng-bind="list.title"></td>
				<td ng-click="editList(list)" ng-bind="list.deadline"></td>
				<td><button type="button" class="btn btn-danger" ng-click="deletenextList(list, $index)">Delete</td>
			</tr>
			</tbody>
		</table>
		<h1 align = 'center'>Past Events</h1>
		<table align = "center" class="table table-hover" style="width:50%;">
			<thead><td>Name</td><td>Deadline</td></thead>
			<tbody>				
			<tr ng-repeat = "list in pastEvents">
				<td ng-click="editList(list)"  ng-bind="list.title"></td>
				<td ng-click="editList(list)" ng-bind="list.deadline"></td>
				<td><button type="button" class="btn btn-danger" ng-click="deletepastList(list, $index)">Delete</td>
			</tr>
			</tbody>
		</table>
	</div>
	<br>
</div>
