<div class="shoppinglist-container" ng-controller="shoppinglistCtrl">
	<div class="filters">
		<p>Filter by:</p>
		<div class="filter-by">Next Events</div>
		<table>
			<tr ng-repeat = "list in nextEvents" ng-click="editList(list)" ng-bind="list.title">
		</table>
		<div class="filter-by">Past Events</div>
		<table>
			<tr ng-repeat = "list in pastEvents" ng-click="editList(list)" ng-bind="list.title">
		</table>
		<div class="btn-group">
		  <button type="button" class="btn btn-danger">Category</button>
		  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu">
		  	<li><a href="#">All</a></li>
		  	<li role="separator" class="divider"></li>
		    <li><a href="#">Cat. 1</a></li>
		    <li><a href="#">Cat. 2</a></li>
		    <li><a href="#">Cat. 3</a></li>
		  </ul>
		</div>
	</div>
	<div class="create-list">
		<a type="button" class="btn btn-danger" ng-click="redirectTo('/list')">Create new list</a>
	</div>
</div>